@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Permanent+Marker&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

html {
  background-color: #082;
}
.App {
  text-align: center;
  overflow-x: hidden;
  background-color: #082;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  max-width: 200px;
  max-height: 200px;
}
.main-title {
  color: rgb(255, 255, 255);
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1.5em;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-logo:hover{
  animation-duration: 1s !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.special-elite {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.mission-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5em;
  margin-bottom: 0;
}
h2 {
  color:#E03C2B;
}
hr {
  margin-top: 1em;
  margin-bottom:1em;
}
p {
  margin-left: auto;
  margin-right: auto;
}

.modal-btn {
  width: 75px;
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 5;
}
.modal-btn img {
  width:75px;
}
.qrcode{
  transition: transform .2s ease-in-out;
}
.qrcode:hover{
  transform:scale(2);
  cursor: none;
}
.wallets {
  overflow-x: auto;
  display: flex;
  justify-content: center;
}
.wallet div {
  min-width: 100px;
}
.page {
  vertical-align:top;
}

.page .left {
  width:20%;
  display: inline-block;
  vertical-align:top;
}
.page .right {
  width:80%;
  display: inline-block;
  vertical-align:top;
}
@media only screen and (max-width: 1024px) {
  .page .left {
    width:100%;
  }
  .page .right {
    width:100%;
  }
  .wallets {
    justify-content: flex-start;
  }
}