.bitcoin {
    transform: translateY(25%);
    height: 1.5em;
}

.inc-btn{
    background-color: #f7931a;
    font-weight: bold;
    font-size:1em;
    border: none;
}
.wallets {
    color:white;
}
.wallets h1 {
    color:black;
}

.wallets .player-red {
    border: 8px solid red;
    border-radius: 1.5em;
    padding: 1em;
}

.wallets .player-orange {
    border: 8px solid orange;
    border-radius: 1.5em;
    padding: 1em;
}

.wallets .player-yellow {
    border: 8px solid yellow;
    border-radius: 1.5em;
    padding: 1em;
}

.wallets .player-black {
    border: 8px solid rgb(0, 0, 0);
    border-radius: 1.5em;
    padding: 1em;
}

.wallets .player-blue {
    border: 8px solid blue;
    border-radius: 1.5em;
    padding: 1em;
}

.wallets .player-green {
    border: 8px solid #00e300;
    border-radius: 1.5em;
    padding: 1em;
}

.wallets .player-pink {
    border: 8px solid rgb(195, 0, 255);
    border-radius: 1.5em;
    padding: 1em;
}

.player-black div .inc-btn {
    background-color: black;
}

.player-red div .inc-btn {
    background-color: red;
}

.player-orange div .inc-btn {
    background-color: orange;
}

.player-yellow div .inc-btn {
    background-color: yellow;
    color:black;
}

.player-blue div .inc-btn {
    background-color: blue;
}

.player-green div .inc-btn {
    background-color: #00e300;
}

.player-pink div .inc-btn {
    background-color: rgb(195, 0, 255);;
}


.wallet {
    background-color: #f000;
    margin-left:1em;
    margin-right:1em;
}